// Define your custom breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 530px, 
  md: 840px,
  lg: 990px,
  xl: 1080px,
  xxl: 1420px,
  xxl-md: 1700px,
  xxxl: 2000px,
);

// Define container max-widths (optional)
$container-max-widths: (
  sm: 440px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

// Import Bootstrap after customizations
@import "bootstrap/scss/bootstrap";
